body{
  color: black;
}
.main{

	z-index: 300;
}
.main div{
	position: absolute;
	color: black;
	z-index: 300;
	top: 35vh;
}
h1, .h1{
	font-family: 'Amatic SC', sans-serif;
	font-weight: 700;
	font-size: 6em;
	margin: 0;
}
h2{
	font-family: 'Pacifico', sans-serif;
	margin-left: 170px;
	font-size: 3.5em;
	margin-top: 0;
}
.carousel-control.left, .carousel-control.right {
	background-image: none;	
}


/*DETALLE*/
.template{
  display: none;
}
.detalle{
	/*margin-top: 300px;*/
}
.detalle-img{
  text-align: center;
}
.detalle-img img{
  max-height: 81vh;
  max-width: 100%;
}
.detalle-contenido #nombre{
  font-size: 3em;
}
.detalle-precio .precio{
  font-size: 2.5em;
  display: inline;
}
.detalle-descripcion #descripcion{
  font-size: 1.3em;
}
.btn-anadir{
  margin-top: 40px;
}
.btn-anadir span{
  padding-right: 8px;
  font-size: 1.2em;
}
.signo-pesos{
  font-size: 1.7em;
}
.logo-modal{
    margin-top: 8px;
    margin-right: 10px;
    max-height: 44px;
    float: left;
}
sup{
  font-size: .6em;
}
.modal-header {
    padding: 8px;
}


/* .modal-fullscreen */
.modal{
  font-family: 'Lato', 'Helvetica Neue', sans-serif;

}
.detalle-contenido{
  margin-top: 80px;
}
.modal-title {
  display: inline-block;
  vertical-align: center;
  padding-top: 10px;
  font-family: 'Amatic SC', sans-serif;
  font-weight: 700;
  font-size: 2.3em;
}
.close{
	font-size: 3.5em;
  margin-top: -5px;
}
.modal-fullscreen {
  background: white;
}
.modal-fullscreen .modal-content {
  background: transparent;
  border: 0;
  -webkit-box-shadow: none;
  box-shadow: none;
}
.modal-backdrop.modal-backdrop-fullscreen {
  background: #ffffff;
}
.modal-backdrop.modal-backdrop-fullscreen.in {
  opacity: .97;
  filter: alpha(opacity=97);
}

/* .modal-fullscreen size: we use Bootstrap media query breakpoints */

.modal-fullscreen .modal-dialog {
  margin: 0;
  margin-right: auto;
  margin-left: auto;
  width: 100%;
}
@media (min-width: 768px) {
  .modal-fullscreen .modal-dialog {
    width: 750px;
  }
}
@media (min-width: 992px) {
  .modal-fullscreen .modal-dialog {
    width: 970px;
  }
}
@media (min-width: 1200px) {
  .modal-fullscreen .modal-dialog {
     width: 1170px;
  }
}

/* centering styles for jsbin */
html,
body {
  width:100%;
  height:100%;
}
html {
  display:table;
}
body {
  display:table-cell;
  vertical-align:middle;
}


/*BOTON MATERIALIZE*/
.button {
  display: inline-block;
  padding: 1em 3em;
  overflow: hidden;
  position: relative;
  text-decoration: none;
  /*text-transform: uppercase;*/
  border-radius: 3px;
  -webkit-transition: 0.3s;
  -moz-transition: 0.3s;
  -ms-transition: 0.3s;
  -o-transition: 0.3s;
  transition: 0.3s;
  box-shadow: 0 2px 3px rgba(0,0,0,0.4);
  border: none; 
  font-size: 15px;
  text-align: center;
}

/*.button:hover {
  box-shadow: 1px 6px 15px rgba(0,0,0,0.5);
}*/
.bg_green {
  background-color: #00B3AD;
  color: white;
}
.bg_red {
  background-color: #F65E67;
  color: white;
}
.bg_yellow {
  background-color: #F8BB41;
  color: white;
}
.bg_purple{
  background-color: #310F1F;
  color: white;
}
.green {
  color: #00B3AD;
}
.red {
  color: #F65E67;
}
.yellow {
  color: #F8BB41;
}
.purple{
  color: #310F1F;
}

.ripple {
  position: absolute;
  background: rgba(0,0,0,.25);
  border-radius: 100%;
  transform: scale(0.2);
  opacity:0;
  pointer-events: none;
  -webkit-animation: ripple .75s ease-out;
  -moz-animation: ripple .75s ease-out;
  animation: ripple .75s ease-out;
}

@-webkit-keyframes ripple {
  from {
    opacity:1;
  }
  to {
    transform: scale(2);
    opacity: 0;
  }
}

@-moz-keyframes ripple {
  from {
    opacity:1;
  }
  to {
    transform: scale(2);
    opacity: 0;
  }
}

@keyframes ripple {
  from {
    opacity:1;
  }
  to {
    transform: scale(2);
    opacity: 0;
  }
}
