
#example1 {
  padding: 20px 0 0 0;
  border: 1px solid #e2e2e2;
  background: #f8f8f3;
  -webkit-border-radius: 3px;
     -moz-border-radius: 3px;
          border-radius: 3px;

  margin-bottom: 20px;

  
}

.item {
  background: #bebebe;
  color: #bebebe;
  border-radius: 3px;
  padding: 10px ;
  word-break: break-all;
  word-wrap: break-word;
  white-space: pre;
  white-space: pre-wrap;
}
#tienda{
  margin-top: 250px;
  margin-left: 190px;
  margin-right: 190px;
  margin-bottom: 100px;
}